$cyan: #74b9ff;
$blue: #0984e3; 
$purple: #6c5ce7;

$system: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$source: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;